@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Italic.woff2') format('woff2'),
        url('./fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jolly Lodger';
    src: url('./fonts/JollyLodger.woff2') format('woff2'),
        url('./fonts/JollyLodger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

